################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmployeePortal.API/.vs/EmployeePortal.API/FileContentIndex/32ecce81-bee0-488d-ae73-cd705fa8f335.vsidx
*.vsidx
/EmployeePortal/.vs/EmployeePortal/DesignTimeBuild/.dtbcache.v2
/EmployeePortal/bin
/EmployeePortal/obj
# Ignore all bin and obj directories
**/bin/
**/obj/

# Ignore Visual Studio-specific files
*.vsidx
*.dtbcache.v2
.vs/
